.song-button {
     text-align: center;
     font-size: 14px;
     background-color: white;
     color: rgb(210, 40, 123);
     border-radius: 50% 50%;
     display: inline-block;
     width: 28px;
     height: 28px;
 }
